<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/slider-radio.css">
	<link rel="stylesheet" href="/css/select2.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/plyr.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.min.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="/img/pandavil-logo-white.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">

	<meta name="description" content="top tv-series and movies with high quality are available for free download, download tv series, download tv shows, download free movie.">
	<meta name="keywords" content="download tv series,download movie,movie download free, download tv shows,tv-series free download, tv series download free, series download, download free tv shows, download free tv episodes, download free tv series, movie, movies, free movie, free movie download">

	<title>Pandavil – {{ title }}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-26558YN6VP"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-26558YN6VP');
	</script>

</head>

<body>

    @include('partials/header')

    @!section('body')

    @include('partials/footer')

	<!-- JS -->
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/slider-radio.js"></script>
	<script src="/js/select2.min.js"></script>
	<script src="/js/smooth-scrollbar.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/plyr.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/custom.js"></script>
</body>

</html>